# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/

# Environment variables
.env

# Database
*.db
instance/
migrations/

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/
